---
import Card from "./Card.astro";
---

<section class="card-section-grid">
  <div><Card title="Miley" /></div>
  <div><Card title="Kesi" /></div>
  <div><Card title="Sabrina" /></div>
  <div><Card title="Gilli" /></div>
  <div><Card title="Jonas" /></div>
</section>
